{% extends "layout-main.twig" %}

{% block title %}Kelola Pengguna
{% endblock %}
{% block page_title %}Daftar Pengguna
{% endblock %}

{% block head_styles %}
	<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Semua Daftar Pengguna</h3>
			<div class="card-tools">
				<a href="/users/create" class="btn btn-primary btn-sm">
					<i class="fas fa-plus"></i>
					Tambah Pengguna Baru
				</a>
			</div>
		</div>
		<div class="card-body">
			<table id="users-table" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>No</th>
						<th>Nama Pengguna</th>
						<th>Email</th>
						<th>Peran</th>
						<th>Tanggal Dibuat</th>
						<th>Aksi</th>
					</tr>
				</thead>
				<tbody>
					{# Isi tabel akan dimuat oleh AJAX #}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

	<script>
		$(function () {
$('#users-table').DataTable({
"processing": true,
"serverSide": false,
"ajax": {
"url": "/users/api" + window.location.search,
"type": "GET"
},
"columns": [
{
"data": null,
    "render": function(data, type, row, meta) {
        return meta.row + 1;
    }
},
{
"data": "name"
},
{
"data": "email"
},
{
"data": "role"
}, {
"data": "create_time",
"render": function (data, type, row) {
return new Date(data).toLocaleDateString('id-ID', {
day: 'numeric',
month: 'long',
year: 'numeric'
});
}
}, {
"data": "id",
"render": function (data, type, row) {
return `
            <a href="/users/edit/${data}" class="btn btn-warning btn-xs" title="Edit"><i class="fas fa-edit"></i></a>
            <button class="btn btn-danger btn-xs" onclick="deleteUser(${data})" title="Hapus"><i class="fas fa-trash"></i></button>
          `;
},
"orderable": false
}
],
"responsive": true,
"lengthChange": false,
"autoWidth": false
});
});

function deleteUser(id) {
Swal.fire({
title: 'Anda Yakin?',
text: "Pengguna yang dihapus tidak akan bisa dikembalikan!",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#d33',
cancelButtonColor: '#3085d6',
confirmButtonText: 'Ya, Hapus Saja!',
cancelButtonText: 'Batal'
}).then((result) => {
if (result.isConfirmed) {
$.ajax({
url: `/users/delete/${id}`,
type: 'POST',
dataType: 'json',
success: function (response) {
if (response.success) {
Swal.fire('Dihapus!', response.message, 'success');
$('#users-table').DataTable().ajax.reload();
}
},
error: function (xhr) {
var errorMsg = xhr.responseJSON ? xhr.responseJSON.message : 'Gagal menghapus data.';
Swal.fire('Gagal!', errorMsg, 'error');
}
});
}
});
}
	</script>
{% endblock %}
